# Registros
registros
* .log
npm-debug.log *
yarn-debug.log *
yarn-error.log *
lerna-debug.log *

# Informes de diagnóstico (https://nodejs.org/api/report.html)
reporte. [ 0-9 ] * . [ 0-9 ] * . [ 0-9 ] * . [ 0-9 ] * .json

# Datos de tiempo de ejecución
pids
* .pid
* .seed
* .pid.lock

# Directorio para bibliotecas instrumentadas generadas por jscoverage / JSCover
lib-cov

# Directorio de cobertura utilizado por herramientas como Estambul
cobertura
* .lcov

# cobertura de prueba de Nueva York
.nyc_output

# Grunt almacenamiento intermedio (https://gruntjs.com/creating-plugins#storing-task-files)
.gruñido

# Directorio de dependencia de Bower (https://bower.io/)
bower_components

# configuración de nodo-waf
.lock-wscript


# Directorios de dependencias
node_modules/
jspm_packages/

# Directorio de dependencias de Snowpack (https://snowpack.dev/)
web_modules/

# Caché de TypeScript
* .tsbuildinfo

# Directorio opcional de caché npm
.npm

# Opcional eslint cache
.eslintcache


# Historial de REPL opcional
.node_repl_history

# Salida del 'paquete npm'
* .tgz

# Archivo de integridad de hilo
.yarn-integridad

# dotenv archivo de variables de entorno
.env
.env.test

# caché de paquete de paquetes (https://parceljs.org/)
.cache
.parcel-cache


# Nuxt.js construir / generar salida
.nuxt
dist

# Archivos Gatsby
.cache/
# Comente en la línea pública si su proyecto usa Gatsby y no Next.js
# https://nextjs.org/blog/next-9-1#public-directory-support
# public


# Almacena las versiones de VSCode utilizadas para probar las extensiones de VSCode
.vscode-test

# hilo v2

.yarn/caché
.yarn/desconectado
.yarn/build-state.yml
